@use "../common/variables" as *;

.card__features {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 30px;
}

.card__feature {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  border-bottom: 1px solid $colorGray;
}

.card__feature--details {
  justify-content: flex-start;
  flex-direction: column;
}

.card__summary {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: flex-start;
  column-gap: 6px;
}

.card__badge {
  flex: 0 0 20px;
  display: block;
  margin-left: auto;
  width: 20px;
  height: 20px;
  border: 1px solid $colorGray;
  border-radius: 50%;
  background: url("../../images/svg/arrow_down.svg") no-repeat center;
}

.card__wrapper-status {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 30%;
}

.card__feature dt {
  font-size: 15px;
  color: $colorBlack;
  font-weight: 300;
  width: 50%;
}

.card__feature dd {
  font-size: 15px;
  line-height: 30px;
  color: $colorBlack;
  font-weight: 700;
  margin-inline-start: 0;
  width: 50%;
  text-align: center;
}

.card__feature-body {
  width: 100%;
}

.card__footer {
  display: flex;
}

.card__text {
  font-size: 15px;
  line-height: 22px;
  color: $colorBlack;
  font-weight: 300;
}

.card__feature--price dd {
  text-align: center;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  align-self: center;
}

.card__btn-primary {
  display: flex;
  column-gap: 15px;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: $colorOrange;
  padding: 18px;
  border: 1px solid $colorOrange;
  border-radius: 6px;

  &::after {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    background: url("../../images/svg/arrow_big_icon.svg") no-repeat center;
  }

  @media (min-width: $d-width) {
    &::after {
      display: none;
    }
  }
}
