@use "../common/variables" as *;

.certificates {
  background: $colorGrayLight;
}

.certificates__container {
  @media (min-width: $d-width) {
    display: flex;
    column-gap: 30px;
  }
}

.certificates__contacts.contacts {
  flex-wrap: wrap;
  padding: 35px;
  row-gap: 35px;
  border-radius: 8px;

  @media (min-width: $d-width) {
    flex-direction: column;
    width: auto;
    width: calc((100% - 60px) / 3);
    padding: 35px 40px;
    row-gap: 0;
  }
}

.contacts__title {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: $colorWhite;
  width: 100%;

  @media (min-width: $d-width) {
    order: 1;
  }
}

.certificates__contacts .contacts__information {
  padding-left: 0;
  margin-left: 0;

  @media (min-width: $d-width) {
    display: block;
    margin-top: 16px;
    flex-grow: 0;
  }
}

.certificates__contacts .contacts__tel {
  @media (min-width: $d-width) {
    margin-left: 0;
  }
}

.certificates__contacts .contacts__work-day,
.certificates__contacts .contacts__text-info {
  color: $colorGray;

  @media (min-width: $d-width) {
    margin-left: 0;
    display: block;
  }
}

.certificates__contacts .contacts__mail {
  @media (min-width: $d-width) {
    display: block;
    margin-top: 12px;
  }
}

.certificates__contacts .contacts__callback {
  @media (min-width: $d-width) {
    color: $colorOrange;
    margin-top: 12px;

    &::before {
      display: none;
    }
  }
}

.certificates__contacts .contacts__social {
  margin-right: 0;
  margin-left: auto;

  @media (min-width: $d-width) {
    order: 3;
    border: 1px solid $colorGray;
    border-radius: 6px;
    margin-left: 0;
    box-sizing: border-box;
    padding: 16px 20px;
    margin-top: 25px;
  }
}

.certificates__contacts .social__link {
  line-height: 16px;
}

.certificates__contacts .social__link svg {
  @media (min-width: $d-width) {
    width: 30px;
    height: 30px;
  }
}

.certificates__wrapper-btn-modal {
  background: $colorOrange;
  padding: 35px;
  margin-top: 15px;
  border-radius: 6px;

  @media (min-width: $d-width) {
    display: none;
  }
}

.certificates__btn-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  box-sizing: border-box;
  color: $colorWhite;
  font-size: 16px;
  line-height: 16px;
  padding: 18px;
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid $colorWhite;
  border-radius: 6px;

  &::after {
    content: "";
    display: block;
    width: 19px;
    height: 19px;
    background: url("../../images/svg/arrow_big_icon_white.svg") no-repeat
      center;
  }
}

.certificates__wrapper-img {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid $colorGray;
  border-radius: 10px;
  margin-top: 30px;

  @media (min-width: $d-width) {
    width: calc((100% - 60px) / 3);
    margin-top: 0;
  }
}

.certificate__img {
  display: block;
  border-radius: 6px;
}
