@use "../common/variables" as *;

.main__usp {
  padding-top: var(--sectionPT);
  padding-bottom: var(--sectionPB);
}

.main__advantages,
.main__about,
.main__possibilities,
.main__functional,
.main__safety,
.main__feedback,
.main__cases,
.main__price,
.main__certificates,
.main__form-reg {
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: $d-width) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: $f-width) {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}

.main__feedback {
  padding-top: 0;
}
.main__advantages {
  @media (min-width: $f-width) {
    padding-top: 93px;
    padding-bottom: 100px;
  }
}

.main__possibilities {
  @media (min-width: $f-width) {
    padding-bottom: 37px;
  }
}

.main__price {
  @media (min-width: $f-width) {
    padding-bottom: 20px;
  }
}

.main__certificates {
  @media (min-width: $f-width) {
    padding-top: 60px;
  }
}
