@use "../common/variables" as *;

.modal {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 13, 0.8);
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__container {
  position: relative;
  @media (min-width: $d-width) {
    width: 80%;
  }

  @media (min-width: $f-width) {
    width: 60%;
  }
}

.modal--close {
  // display: none;
  opacity: 0;
  z-index: -100;
}

.modal .subscribe__button {
  width: auto;
  border: 1px solid $colorOrange;
  color: $colorOrange;

  &::after {
    background: url("../../images/svg/arrow_big_icon_orange.svg") no-repeat
      center;
  }
}

.modal .subscribe__label--personal {
  @media (min-width: $d-width) {
    width: 50%;
  }
}

.modal__close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 34px;
  height: 34px;
  box-sizing: border-box;
  border: 1px solid $colorGray;
  border-radius: 50%;

  &::after,
  &::before {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    content: "";
    width: 30%;
    height: 2px;
    background: $colorGray;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::before {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  @media (min-width: $d-width) {
    right: -68px;
    width: 48px;
    height: 48px;
  }

  @media (min-width: $f-width) {
    right: -88px;
    width: 68px;
    height: 68px;
  }
}

.modal--call-me .modal__container {
  width: auto;
}

.modal--call-me .subscribe__label {
  width: 100%;
}

.modal--functional {
  width: 100%;
  height: 100%;
}

.modal__container--functional {
  width: 100%;

  @media (min-width: $f-width) {
    padding-left: 290px;
    padding-right: 290px;
    height: 866px;
  }
}

.modal__container--functional .functional__wrapper {
  border-radius: 8px;
  border: 1px solid $colorGray;

  @media (min-width: $d-width) {
    border-radius: 20px;
  }

  @media (min-width: $f-width) {
    background: $colorBlack;
    padding-top: 0;
    width: 100%;
    padding: 60px;
    box-sizing: border-box;
  }
}

.modal__container--functional .functional__slider {
  @media (min-width: $f-width) {
    width: 340px;
  }
}

.modal__container--functional .functional__wrapper-main-img {
  @media (min-width: $f-width) {
    order: 2;
    margin-left: 0;
    width: 800px;
    // height: 535px;
    margin-left: 74px;
  }
}

.modal__container--functional .functional__wrapper-text {
  display: none;
}

.modal__container--functional .functional__img-slider {
  width: 100%;
  height: 100%;
}

.modal__container--functional .functional__img-item,
.modal__container--functional .functional__img-list {
  height: 100%;
  width: 100% !important;
}

.modal__container--functional .functional__img-item {
  border: none;
}

.modal__container--functional .functional__img {
  object-fit: contain;
  height: auto;
  border: 1px solid $colorGray;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 20px;
}

.modal__container--functional .functional__img-text {
  color: $colorWhite;
  font-size: 18px;
  line-height: 27px;
  margin-top: 51px;
  padding-right: 45%;
}

.modal__container--functional .functional__img-slider {
  overflow: visible;
}

.modal__container--functional .modal__close-btn {
  @media (min-width: $f-width) {
    right: 200px;
  }
}

.modal__wrapper-pagination {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
  z-index: 10;

  @media (min-width: $d-width) {
    order: 3;
    column-gap: 24px;
    width: auto;
  }

  @media (min-width: $f-width) {
    grid-column: 1;
    grid-row: 3;
    justify-content: start;
    align-self: flex-end;
    margin-top: 0;
    position: absolute;
    right: 350px;
    bottom: 150px;
  }
}

.modal__pagination-btn {
  display: none;

  @media (min-width: $d-width) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 68px;
    height: 68px;
    box-sizing: border-box;
    border-radius: 50%;
    border: 1px solid $colorGray;
  }
}

.modal__pagination-btn svg path {
  stroke: $colorWhite;
}

.modal__pagination-btn--next svg {
  transform: rotate(180deg);
}

.modal__pagination-list {
  display: flex;
  column-gap: 24px;
}

.modal__pagination-item {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__pagination-item--active .modal__mark {
  background: $colorOrange;
  width: 10px;
  height: 10px;
}

.modal__mark {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $colorGray;
}
