@use "../common/variables" as *;

.price {
  background: $colorGrayLight;
}
.price__title {
  font-size: 42px;
  line-height: 50px;
  color: $colorBlack;
}

.price__tabs {
  display: flex;
  margin-top: 30px;
}

.price__tab {
  width: 50%;
  font-size: 15px;
  line-height: 22px;
  color: $colorGrayDark;
  box-sizing: border-box;
  border-bottom: 1px solid $colorGray;
  padding-bottom: 6px;
}

.price__tab--is-active {
  color: $colorBlack;
  border-bottom: 2px solid $colorOrange;
  padding-bottom: 7px;
}

.price__header {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}

.price__nav-btn {
  width: 68px;
  height: 68px;
  border: 1px solid $colorGray;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.price__plan-name {
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: $colorBlack;
  width: 150px;
  padding-bottom: 6px;
  border-bottom: 2px solid $colorGray;
  align-self: flex-start;
  text-align: center;
  font-weight: 700;
}

.price__nav-btn--next svg {
  transform: rotate(180deg);
}

.price__info-list {
  margin-top: 30px;
}

.price__info-item {
  font-size: 15px;
  line-height: 22px;
  color: $colorGrayDark;
  padding-bottom: 12px;
  padding-top: 12px;
  border-bottom: 2px solid $colorGray;

  &:first-child {
    border-top: 2px solid $colorGray;
  }
}
