@use "../common/variables" as *;

.social {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px 14px;
  border: 1px solid $colorGrayDark;
  border-radius: 6px;
  box-sizing: border-box;

  @media (min-width: $d-width) {
    flex-direction: row;
    border: none;
    padding: 0;
    column-gap: 14px;
  }
}

.social__link svg {
  @media (min-width: $d-width) {
    width: 18px;
    height: 18px;
  }
}

.social__link svg path {
  @media (min-width: $d-width) {
    stroke-width: 1.5px;
  }
}

.social__link:hover svg path {
  stroke: $colorOrangeOnWhite;
}
